<ion-header>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col>
    <ion-searchbar placeholder="Try Search Here..." 
    class="searchBarCss"
    [(ngModel)]="searchQuery" id="searchbar"
    (search)="SearchWithQuery($event)"
    (ionCancel)="CancelSearch($event)"
    showCancelButton="{{cancelButtonState}}"
    cancelButtonText="Cancel"
    ></ion-searchbar>
  </ion-col>
  </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content >


<!-- <ion-card id="wallPaperCard">
  <ion-item class="wallPaperItems ion-no-padding" lines="none" id="wallPaperItem" *ngFor="let wallPaper of wallPapers">
    <ion-img [src]="wallPaper.urls.regular"
    (click)="OpenPhotoViewer(wallPaper.urls.regular)"
    class="wallPapers">
  </ion-img>
  <ion-button style="height:50%;width:20%;" class="item2" color="secondary" expand="block" icon-only clear>
    <ion-icon name="arrow-down-circle-outline"></ion-icon>
  </ion-button> 
</ion-item>
</ion-card> -->

<ion-card class="wallPaperCards" *ngFor="let wallPaper of wallPapers" > 
  <ion-item class="ion-no-padding" id="wallPaperItem" lines="none">
    <img-loader [src]="wallPaper.urls.regular"  
    (click)="OpenPhotoViewer(wallPaper.urls.regular)"
    class="wallPapers">
  </img-loader>
  </ion-item>
      <ion-icon class="iconClass" (click)="SaveImageToGallery(wallPaper.urls.regular)" 
      name="arrow-down-circle-outline"></ion-icon>
</ion-card>

<ion-infinite-scroll threshold="100px" (ionInfinite)="LoadAddOnWallPapers($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Presenting More Wallpapers..."
    style="color:white;">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
